html, body {
    height: 100%;
}
.App{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}
.formContainer{
    padding-top: 10vmin;
    background-color: white;
    height: 80%;
    width: 60%;
    position: relative;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.textField{
    width: 20px;
}