.App {
  text-align: center;
  background-color: #fcfcfc88;
  padding: 20px;
  background-image: url('../images/logo.png');
  background-size: 4%;

  background-repeat: repeat;
}
.title{
  font-size: calc(30px + 20vmin);
  font-family: sensation;
  color: rgb(82, 80, 80);
  padding: 20px;
}

.App-header {
  background-color: #c4c4c456;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 230px;
}

.mainButton{
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 160px;
  max-width: 16%;
  margin: 15px;
  border-radius: 20px;
  transform: scale(1);
  transition: transform 0.4s ease;
}
.mainButton:hover{
  cursor: pointer;
  transform: scale(1.2)
}
.imgBtn{
  width: 40%;
  position: relative;
  margin: auto;
}
.textBtn{
  border: 0;
  outline: 0;
  height: auto;
  text-align: center;
  font-size: calc(1vw + 1vh);
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 0;
  background-color: rgb(56, 59, 63);
  color: white;
  border-radius: 20px;
  padding: 5px;
  min-height: 40px;
}

@font-face {
  font-family: "sensation";
  src: url("../fonts/Sensation.otf");
  src: url("../fonts/Sensation.ttf");
}
